* {
    margin: 0;
    padding: 0;
}

html {
    border: 2px solid blue;
}

body { 
    border: 2px solid red;
    margin: 100px;
}

p {
    border: 3px solid orange;
    background-color: yellow;
    margin: 25px 50px;
    padding: 25px 50px 75px 100px;
}